.home-screen {
  position: relative;

  width: 100%;
  margin: 0;
  padding: 0;

  background-color: $background-dark-color;
}

.home-screen::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;

  background-color: $background-dark-color;
  background-image: url("../img/image_2_fon_desktop.png");
  background-repeat: repeat;
  background-position: 0 -120px;
  background-size: 100% 950px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/image_2_fon_desktop@2x.png");
  }

  opacity: 0.8;
}

.home-screen__button {
  margin-bottom: 93px;
  margin-left: 98px;
}

.home-screen__button a {
  display: inline-block;
  vertical-align: top;
  width: 407px;
  min-height: 55px;
  margin-bottom: 93px;
  padding-top: 17px;

  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  font-family: $font-family-main;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $light-color;

  background-color: $background-button-color;
}

.home-screen__button a:hover,
.home-screen__button a:focus {
  opacity: 0.5;
}

.home-screen__button a:active {
  opacity: 0.8;
}

.home-screen__button .home-screen__link-additional {
  display: none;
}

.home-screen__img {
  max-width: 750px;
  height: 515px;
  margin: 0 10px;
}

.home-screen__img img {
  width: 100%;
}

.home-screen__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 780px;
  padding-top: 57px;
}

.home-screen__text > a {
  display: inline-block;
  vertical-align: top;

  width: 93px;
  min-height: 16px;
  margin-left: 2px;

  opacity: 0.5;
  transform: rotate(-90deg);
  transform-origin: left top 0;

  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  font-family: $font-family;
  color: $light-color;
}

.home-screen__text > a:hover,
.home-screen__text > a:focus {
  opacity: 1;
}

.home-screen__text > a:active {
  opacity: 0.8;
}

.home-screen__text h1 {
  width: 728px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 80px;
  font-weight: 700;
  line-height: 94px;
  font-family: $font-family-main;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $light-color;
}

.home-screen__text p {
  position: relative;

  width: 623px;
  margin: 0;
  margin-bottom: 44px;
  margin-left: 98px;

  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
  font-family: $font-family;
  color: $light-color;
}

.home-screen__text p::before {
  position: absolute;
  content: "";
  top: 17px;
  left: -95px;
  z-index: 3;

  width: 66px;
  height: 2px;
  background-color: $light-color;
}

.home-screen__wrapper {
  position: relative;
  z-index: 2;

  display: flex;
  justify-content: space-between;
  max-width: 1586px;
  margin: 0 auto;
  padding: 0;
  padding-top: 138px;
  padding-bottom: 73px;
  padding-left: 82px;

  background-image: url("../img/Polygon_1.svg"),
    url("../img/Polygon_1.svg"),
    url("../img/ellipse.svg"),
    url("../img/ellipse.svg"),
    url("../img/ellipse.svg"),
    url("../img/ellipse.svg"),
    url("../img/ellipse.svg");
  background-repeat: no-repeat;
  background-position: 887px 354px,
    939px 157px,
    883px 351px,
    936px 152px,
    1485px 152px,
    1045px 629px,
    1210px 628px;
  background-size: 325px 280px,
    552px 478px,
    10px 10px,
    10px 10px,
    10px 10px,
    10px 10px,
    10px 10px;
}

@media (max-width: $tablet-width) {
  .home-screen::before {
    background-image: url("../img/image_2_fon_tablet.webp");
    background-repeat: no-repeat;
    background-position: 0 -75px;
    background-size: 100% 873px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/image_2_fon_tablet@2x.webp");
    }
  }

  .home-screen__button {
    margin-left: 50px;
  }

  .home-screen__button a {
    width: 379px;
    margin: 0;
  }

  .home-screen__img {
    flex-shrink: 0;
    max-width: none;
    width: 465px;
    height: 340px;
    margin: 0;
    margin-right: 20px;
  }

  .home-screen__img img {
    width: 465px;
    height: 340px;
  }

  .home-screen__text {
    width: 415px;
    margin-right: 6px;
    padding-top: 76px;
  }

  .home-screen__text > a {
    display: none;
  }

  .home-screen__text h1 {
    width: 370px;
    margin: 0;
    margin-bottom: 29px;

    font-size: 60px;
    line-height: 70px;
  }

  .home-screen__text p {
    width: 356px;
    margin-left: 50px;
    margin-bottom: 55px;

    font-size: 18px;
    line-height: 28px;
  }

  .home-screen__text p::before {
    top: 16px;
    left: -48px;

    width: 33px;
  }

  .home-screen__wrapper {
    max-width: none;
    min-width: 768px;
    margin: 0;
    padding-top: 37px;
    padding-bottom: 70px;
    padding-left: 88px;

    background-image: url("../img/Polygon_1.svg"),
      url("../img/Polygon_1.svg"),
      url("../img/ellipse.svg"),
      url("../img/ellipse.svg"),
      url("../img/ellipse.svg"),
      url("../img/ellipse.svg"),
      url("../img/ellipse.svg");
    background-repeat: no-repeat;
    background-position: 460px 168px,
      499px -46px,
      457px 164px,
      497px 7px,
      584px 383px,
      930px 7px,
      714px 382px;
    background-size: 256px 221px,
      438px 492px,
      8px 8px,
      8px 8px,
      8px 8px,
      8px 8px,
      8px 8px;

    overflow: hidden;
  }
}

@media (max-width: $mobile-width) {
  .home-screen::before {
    background-image: url("../img/image_2_fon_mobile.webp");
    background-position: 0 -59px;
    background-size: 100% 834px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/image_2_fon_mobile@2x.webp");
    }
  }

  .home-screen__button {
    margin: 0 auto;
  }

  .home-screen__button a {
    width: 287px;
  }

  .home-screen__button .home-screen__link-additional {
    display: inline-block;
  }

  .home-screen__button .home-screen__link-main {
    display: none;
  }

  .home-screen__button span {
    display: none;
  }

  .home-screen__img {
    width: 301px;
    height: 220px;
    margin-left: 26px;
  }

  .home-screen__img img {
    width: 301px;
    height: 220px;
  }

  .home-screen__link-additional {
    display: inline-block;
  }

  .home-screen__link-main {
    display: none;
  }

  .home-screen__text {
    position: relative;
    top: -25px;
    z-index: 4;

    width: 320px;
    margin: 0 auto;
    padding: 0;
    padding-right: 15px;
    padding-bottom: 45px;
    padding-left: 15px;
  }

  .home-screen__text h1 {
    position: relative;
    z-index: 10;
    width: 277px;
    margin-bottom: 26px;

    font-size: 40px;
    line-height: 47px;
  }

  .home-screen__text p {
    width: 245px;
    margin-bottom: 41px;
    margin-left: 50px;

    font-size: 16px;
    line-height: 25px;
  }

  .home-screen__wrapper {
    flex-direction: column-reverse;
    max-width: 560px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0;
    padding-top: 32px;

    background-image: url("../img/Polygon_1.svg"),
      url("../img/Polygon_1.svg"),
      url("../img/ellipse.svg"),
      url("../img/ellipse.svg"),
      url("../img/ellipse.svg"),
      url("../img/ellipse.svg");
    background-repeat: no-repeat;
    background-position: 143px 164px,
      208px -43px,
      206px 11px,
      408px 161px,
      423px 385px,
      289px 370px;
    background-size: 300px 211px,
      438px 492px,
      8px 8px,
      8px 8px,
      8px 8px,
      8px 8px;
  }
}
