.page-header {
  position: relative;

  width: 100%;
  margin: 0;
  padding: 0;

  color: $light-color;

  background-color: $background-dark-color;
}

.page-header::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;

  background-color: $background-dark-color;
  background-image: url("../img/image_2_fon_desktop.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 950px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/image_2_fon_desktop@2x.png");
  }

  opacity: 0.8;
}

.page-header__envelope {
  width: 19px;
  height: 14px;
}

.page-header__feedback {
  display: block;
  width: 180px;
  min-height: 45px;
  padding-top: 13px;

  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-family: $font-family-main;

  border: 1px solid $light-color;
  border-radius: 5px;
}

.page-header__feedback:hover,
.page-header__feedback:focus {
  opacity: 0.5;
}

.page-header__feedback:active {
  opacity: 0.8;
}

.page-header__feedback a {
  color: $light-color;
}

.page-header__logo {
  display: flex;
}

.page-header__logo a {
  margin-right: 18px;

  cursor: pointer;
}

.page-header__logo a:hover,
.page-header__logo a:focus {
  opacity: 0.5;
}

.page-header__logo a:active {
  opacity: 0.8;
}

.page-header__logo svg {
  width: 52px;
  height: 52px;
}

.page-header__logo-text {
  min-width: 200px;
}

.page-header__logo-text h2 {
  margin: 0;
  padding-top: 8px;

  font-size: 25px;
  font-weight: 700;
  line-height: 29px;
  font-family: $font-family-main;
}

.page-header__logo-text p {
  margin: 0;
  padding: 0;

  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  font-family: $font-family-additional;
  color: $less-light-color;
}

.page-header__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-width: 456px;
  margin: 0;
  margin-right: 20px;
  margin-left: auto;
  padding: 0;
}

.page-header__nav-list a {
  display: flex;
  margin: 0;
  margin-top: 15px;
  margin-right: 30px;
  margin-bottom: 15px;
  padding: 0;

  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  font-family: $font-family;
  color: $light-color;
}

.page-header__nav-list a:hover,
.page-header__nav-list a:focus {
  color: $less-light-color;
  opacity: 0.4;
}

.page-header__nav-list a:active {
  opacity: 1;
}

.page-header__nav-list p {
  margin: 0;
  padding: 0;
}

.page-header__nav-list svg {
  margin-right: 15px;
}

.page-header__phone-call {
  width: 18px;
  height: 18px;
}

.page-header__wrapper {
  position: relative;
  z-index: 3;

  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1484px;
  height: 120px;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 43px;
}

@media (max-width: $tablet-width) {
  .page-header::before {
    background-image: url("../img/image_2_fon_tablet.webp");
    background-size: 100% 686px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/image_2_fon_tablet@2x.webp");
    }
  }

  .page-header__envelope {
    width: 25px;
    height: 18px;
  }

  .page-header__feedback {
    display: none;
  }

  .page-header__nav-list {
    min-width: 82px;
    margin: 0;
    padding: 0;
  }

  .page-header__nav-list a {
    display: block;

    margin: 0;
  }

  .page-header__nav-list p {
    display: none;
  }

  .page-header__nav-list svg {
    margin: 0;
  }

  .page-header__phone-call {
    width: 24px;
    height: 24px;
  }

  .page-header__wrapper {
    justify-content: space-between;
    align-items: center;
    max-width: none;
    width: 768px;
    height: 94px;
    padding-right: 24px;
    padding-left: 25px;
  }
}

@media (max-width: $mobile-width) {
  .page-header::before {
    background-image: url("../img/image_2_fon_mobile.webp");
    background-size: 100% 647px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/image_2_fon_mobile@2x.webp");
    }
  }

  .page-header__logo svg {
    width: 38px;
    height: 38px;
  }

  .page-header__logo-text {
    display: none;
  }

  .page-header__nav-list {
    min-width: 72px;
  }

  .page-header__wrapper {
    width: auto;
    min-width: 320px;
    height: 74px;
    padding-right: 16px;
    padding-left: 16px;
  }
}
