@font-face {
  font-weight: 400;
  font-family: "PT Mono";
  font-style: normal;
  font-display: swap;

  src: url("../fonts/PTMono-Regular.woff2") format("woff2"),
    url("../fonts/PTMono-Regular.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-display: swap;

  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Regular.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-display: swap;

  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Bold.woff") format("woff");
}

@font-face {
  font-weight: 500;
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;

  src: url("../fonts/Roboto-Medium.woff2") format("woff2"),
    url("../fonts/Roboto-Medium.woff") format("woff");
}

@import "variables.scss";
@import "shared-file.scss";
@import "sprite-svg.scss";
@import "form-popup.scss";

/* Шапка сайта */
@import "page-header.scss";

/* Главная страница */
@import "home-screen.scss";
@import "advantages.scss";
@import "about-company.scss";
@import "products-services.scss";
@import "feedback.scss";

/* Подвал сайта */
@import "page-footer.scss";
