$tablet-width: 1023px;
$mobile-width: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$font-family: "PT Mono", "Arial", sans-serif;
$font-family-main: "Roboto Condensed", "Arial", sans-serif;
$font-family-additional: "Roboto", "Arial", sans-serif;
$light-color: #ffffff;
$light-dark-color: #788891;
$background-nav-color: #c4c4c4;
