$tablet-width: 1023px;
$mobile-width: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$font-family: "PT Mono", "Arial", sans-serif;
$font-family-main: "Roboto Condensed", "Arial", sans-serif;
$font-family-additional: "Roboto", "Arial", sans-serif;
$light-color: #ffffff;
$light-opacity-color: rgba(255, 255, 255, 0.1);
$less-light-color: #788891;
$less-dark-color: #203c42;
$color-color: #00b2ff;
$color-opacity-color: rgba(0, 178, 255, 0.9);
$color_2-color: #00b35d;
$dark-color: #1b2d37;
$very-dark-color:#000000;
$more-dark-color: #666666;
$background-nav-color: #c4c4c4;
$background-footer-color: #fafafa;
$background-button-color: #00b2ff;
$background-dark-color: #1b2d37;
$border-ligth-color: #626962;
$border-dark-color: #ebebeb;
